.ou{
    height: 100vh;
    display: flex;
}

.ou .img{
    width: 50vw;
    height: 100%;
    margin-left: 10vw;
}

.ou .container{
    margin-top: 4rem;
    width: 40vw;
    height: 100%;
    /* border: 2px solid; */
}

.ou .container h1{
    padding-left: 5rem;
    /* text-align: center; */
    font-size: xxx-large;
    color: rgb(2, 23, 94);
    font-weight: revert;
    letter-spacing: 3px;
}

.ou .loginBox{
    padding-left: 5rem;
}
.ou .entryText{
    margin-top: 3rem;
    font-size: 2.5rem;
}
.ou .input{
    margin-top: 1rem;
    height: 2rem;
    width: 17rem;
}

.ou .loginBtn{
    text-decoration: none;
    width: 7rem;
    height: 2.5rem;
    font-size: larger;
    background-color: rgb(117, 243, 44);
    border: none;
    margin-top: 2rem;

}



.ou button{
    text-decoration: none;
     width: 10rem; 
     height: 2.5rem;
    font-size: larger;
    /* background-color: rgb(56, 52, 49); */
    border: none;
    margin-top: 2rem;
    color: black;
    border: 1px solid;

}
.ou .otherbtns{
    text-decoration: none;
}
.ou .forget{
    margin-left: 2rem;
 } 